<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crypt game</title>
</head>
<body>
    <h1>Crypt Game</h1>
    <div>
        <input type="text" id="name" placeholder="Alma a Juzgar: ">
        <button id="btn-name">Send</button>
    </div>
    <p id="messages-anubis"></p>
    <h2 id="question"></h2>
    <div id="option"></div>
    <p>Purity of soul: <span id="purity">50</span></p>
    <script src="../script/Alma.js"></script>
    <script src="../script/Anubis.js"></script>
    <script src="../script/pregunta.js"></script>
    <script src="../script/juego.js"></script>
    <script src="../script/DOM.js"></script>
    <script src="../script/main.js" defer></script>
    <script src="../script/testeo.js" defer></script>

</body>
</html>