* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.container-text {
    background: black;

    width: 50%;
}

.container-actions {
    background: cyan;
    width: 50%;

}

