* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

:root {
    --ui: #be8b5088;
    --btn: #7d5d3b;
    --Bg-Ui-Main: rgba(49, 48, 48, 0.747); 
    --Btn-Color : #C2A66F;
    --Btn-color-2: #E6D7A3; 
    --Btn-Shadow: #7a6845;
    --judge: #f5e6c8;
    --talk: #caa24d;
}

input::placeholder{
    font-size: 15px;
}

body {
    background: url("../assets/images/AnubisPlace.png") center/cover no-repeat;
    background-attachment: fixed;
    margin: 0;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 1rem 0 1rem 0;
    height: 100vh;
    margin-left: 2rem;
}

.god {
    position: relative;
    left: 63%;
    top: 10%;
}

input {
    background: var(--judge);
    padding: 10px;
    border-radius: 5px;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn-name{
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-color: var(--Btn-Color);
    border: none;
    transition: all 0.1s ease;
    box-shadow: 0 6px 0px var(--Btn-Shadow);
}

.btn-name:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 0px var(--Btn-Shadow);
    background-color: var(--Btn-color-2);
}

.btn-name:active{
    transform: translateY(4px);
    box-shadow: 0 2px 0px var(--Btn-Shadow);
    filter: brightness(0.9);
}

.game-container{
    display: flex;
    justify-content: center;
    color: wheat;
}

h1 {
    text-align: center;
}

.soul{
    background-color: #7a6845;
}

.anubis {
    width: auto;
    padding: 20px;
    background: black;
    border: 2px solid var(--talk);
    border-radius: 1.5rem;
    color: #f5e6c8;
    font-style: italic;
}

.question-box {
    width: auto;
    padding: 25px;
    font-size: 1.6rem;
    color: var(--judge);
    border-radius: 1.2rem;
    border: 2px solid #caa24d;
    background: rgba(20, 10, 5, 0.85);
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.uix {
    position: absolute;
    bottom: 0;
    left: 20%;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
        to bottom,
        rgba(80, 60, 30, 0.9),
        rgba(40, 25, 10, 0.9)
    );
    border: 2px solid var(--talk);
    border-radius: 1.5rem;
    color: #f5e6c8;
    font-style: italic;
}

.face {
    display: flex;
    margin: 3rem;
}

.hud {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    width: auto;
    height: auto;
}

.choices {
    object-fit: hidden;
    display: grid;
    gap: 10px;
    margin: 20px;
}

.balanceScene{
    position: absolute; 
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999; 
    pointer-events: none; 
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    overflow: hidden;
    opacity: 1;
}

.fadeIn{
    opacity: 0;
    display: none !important;
}

.balanceArm {
    position: absolute;
    width: 490px;
    max-width: 100%;
    height: 300px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    transform-origin: center 185px;
    transition: transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.balanceArm img[alt="XD"] {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 110%;
    height: 100%; 
    object-fit: contain; 
    pointer-events: none;
}

.balancePlate {
    position: relative;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: top center;   
    top: 185px;
}

.plateVisual {
    filter: drop-shadow(0 10px 10px rgba(0,0,0,0.5));
}
