* {
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

:root {
    --ui: #be8b5088;
    --btn: #7d5d3b;
    --Bg-Ui-Main: rgba(49, 48, 48, 0.747); 
    --Btn-Color : #C2A66F;
    --Btn-color-2: #E6D7A3; 
    --Btn-Shadow: #7a6845;
    --judge: #f5e6c8;
}

input::placeholder{
    font-size: 15px;
}

body {
    background: url("../assets/images/AnubisPlace.png") center/cover no-repeat;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
}

.game {
    display: grid;
    width: 40%;
    justify-content: center;
    background: rgba(0, 0, 0, 0.65);
    border: 2px solid #caa24d;
    gap: 10px;
    color: #f5e6c8;
    border-radius: 1rem 1rem 7rem 7rem;  
}

input {
    background: var(--judge);
    padding: 10px;
    border-radius: 5px;
}

.name-container {
    display: flex;
    justify-content: center;
}

.game-container{
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

.soul{
    background-color: #7a6845;
}

.anubis {
    display: flex;
    position: relative;
    margin: auto auto auto;
    background-color: #7a6845;
}

.question-box {
    color: var(--Btn-Color);
    font-size: 2rem;
    position: relative;
    top: 10rem;
    margin: auto auto 1rem auto;
    width: 30%;
    height: 20%;
    padding: 20px;
    border-radius: 1rem;
    border: 2px solid #caa24d;
    background: rgba(20, 10, 5, 0.8);
}

.uix {
    position: absolute;
    object-fit: contain;
    bottom: 0;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: rgba(0, 0, 0, 0.65);
    border: 2px solid #caa24d;
    padding: 12px;
    color: #f5e6c8;
}

.face {
    display: flex;
    margin: 3rem;
    width: 20%;
}

.hud {
    text-align: center;
    width: auto;
}

.life-bar {
    width: 50rem;
    height: 40px;
    background: #333;
    border: 2px solid #caa24d;
    border-radius: 3rem;
}

.life-fill {
    height: 100%;
    width: 50%;
    border-radius: 20px;
    background: linear-gradient(to right, red, gold);
    transition: width 0.5s;
}

.choices {
    object-fit: hidden;
    display: flex;
}

button {
    width: 10rem;
    height: 0rem;
    text-align: center;
    padding: 30px;
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    color: #fff;
    border-radius: 5px;
    height: 5rem;
}

button:first-child {
    background: #caa24d;
}

button:last-child {
    background: #8b1e1e;
}
