* {
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

:root {
    --ui: #be8b5088;
    --btn: #7d5d3b;
    --Bg-Ui-Main: rgba(49, 48, 48, 0.747); 
    --Btn-Color : #C2A66F;
    --Btn-color-2: #E6D7A3; 
    --Btn-Shadow: #7a6845;
    --judge: #f5e6c8;
}

body {
    margin: 0;
    background: url("../assets/images/AnubisPlace.png");
}

.game {
    width: 90%;
    max-width: 1000px;
    background: rgba(0, 0, 0, 0.65);
    border: 2px solid #caa24d;
    padding: 20px;
    color: #f5e6c8;
}



h1 {
    text-align: center;
    margin-bottom: 15px;
}

.scene {
    display: flex;
    align-items: center;
    gap: 20px;
}

.anubis {
    width: 220px;
}

.question-box {
    flex: 1;
    padding: 20px;
    border: 2px solid #caa24d;
    background: rgba(20, 10, 5, 0.8);
    font-size: 20px;
}

.uix {
    display: flex;
    background: rgba(0, 0, 0, 0.65);
    border: 2px solid #caa24d;
    padding: 20px;
    color: #f5e6c8;
}

.hud {
    margin: 10px;
}

.life-bar {
    width: 40rem;
    height: 20px;
    background: #333;
    border: 1px solid #caa24d;
}

.life-fill {
    height: 100%;
    width: 50%;
    background: linear-gradient(to right, red, gold);
    transition: width 0.5s;
}

.choices {
    width: 50%;
    display: flex;
}

button {
    text-align: center;
    width: 100%;
    padding: 15px;
    margin: 0 10px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    color: #fff;
}

button:first-child {
    background: #caa24d;
}

button:last-child {
    background: #8b1e1e;
}