:root {
    --ui: #be8b5088;
    --btn: #7d5d3b;
    --Bg-Ui-Main: rgba(49, 48, 48, 0.747); 
    --Btn-Color : #C2A66F;
    --Btn-color-2: #E6D7A3; 
    --Btn-Shadow: #7a6845;
}

body {
    display: flex;
    background: url(../assets/images/AnubisPlace.png);
    position: relative;
}

.battle-ui {
    display: flex;
    position: absolute;
    top: 50rem;
    left: 3rem;
    background: var(--ui);
    width: 95%;
    height: 9rem;
}

.text-ui {
    width: 70%;
    border: 10px groove #BFA07A;
}

.life-card {
    position: absolute;
    top: 500px;
    left: 80px;
    width: 300px;
    padding: 15px;
    background: linear-gradient(145deg, #e0c097, #cfa76e);
    border-radius: 12px;
    box-shadow: 
        0 8px 15px rgba(0,0,0,0.25),
        inset 0 2px 4px rgba(255,255,255,0.3);
    border: 2px solid #b8915f;
}

.name {
    text-align: center;
    font-weight: bold;
    color: #5a3a1b;
    margin-bottom: 12px;
    font-size: 16px;
    text-shadow: 1px 1px 0 #f3e2c7;
}

.health-bar {
    width: 100%;
    height: 18px;
    background-color: #8b6b3e;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #5c4322;
}

.health {
    width: 75%;
    height: 100%;
    background: linear-gradient(
        to right,
        #c0392b,
        #e74c3c,
        #f1c40f
    );
    transition: width 0.4s ease;
}

.actions-ui {
    border: 10px groove #BFA07A;
    grid-template-columns: repeat(2,1fr);
    width: 30%;
    gap: 30px;
}

.face {
    margin: 4px 10px;
}

.btn-a {
    width: 40%;
    height: 70%;
	box-shadow:inset 0px 0px 0px -50px #a6827e;
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	background-color:#7d5d3b;
	border-radius:3px;
	border:2px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:20px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #4d3534;
    margin: 1.2rem;
}